<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signIn</title>
    <!-- this link is to include font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!--this link is to include bootstrap -->
    <link
      rel="stylesheet"
      href="../bootstrap/node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <!-- this part is to include CSS FILES -->
    <link type="text/css" rel="stylesheet" href="../styling/singIn.css" />
  </head>
  <body>
    <div class="container">
      <div class="d-grid">
        <button class="btn btn-info">Sign in</button>
        <button class="btn btn-info">Log in</button>
        <button class="btn btn-info">log in as a geust</button>
      </div>
    </div>
  </body>
</html>
