<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>signIn</title>
        <!-- this link is to include font awsome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <!--this link is to include bootstrap -->
        <link rel="stylesheet" href="../bootstrap/node_modules/bootstrap/dist/css/bootstrap.css">
        <!-- this part is to include CSS FILES -->
        <link type="text/css" rel="stylesheet" href="../styling/signIn.css">
    </head>
    <body>
        <div class="container">
            <!-- <center>
                <div class="d-grid gap-lg-2 col-md-2">
                    <button class="btn btn-outline-info shadow">Sign in</button>
                    <button class="btn btn-outline-info shadow">Log in</button>
                    <button class="btn btn-outline-info shadow">log in as a geust</button>
                </div>
            </center> -->
            <form action="../../controller/users_DBC.php" method="POST">
                <fieldset>
                    <legend>
                        <h1>INSCRIPTION:</h1>
                    </legend>
                    <table>
                        <tr>
                            <div class="form-floating mb-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="floatingInput"
                                    placeholder="first name"
                                    name="firstName"
                                    required
                                >
                                <label for="floatingInput">First name</label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-floating mb-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="floatingInput1"
                                    placeholder="last name"
                                    name="lastName"
                                    required
                                >
                                <label for="floatingInput1">Last name</label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-floating mb-3">
                                <input
                                    type="email"
                                    class="form-control"
                                    id="floatingInput2"
                                    placeholder="name@example.com"
                                    name="email"
                                    required
                                >
                                <label for="floatingInput2">Email address</label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-floating mb-3">
                                <input
                                    type="date"
                                    class="form-control"
                                    id="floatingInput3"
                                    placeholder="dd/mm/yyyy"
                                    name="dateOfBirth"
                                    required
                                >
                                <label for="floatingInput3">Date of birth</label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-floating mb-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="floatingInput4"
                                    placeholder="phone number"
                                    name="phNumber"
                                    required
                                >
                                <label for="floatingInput4">Phone number</label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-floating mb-3">
                                <input
                                    type="password"
                                    class="form-control"
                                    id="floatingInput5"
                                    placeholder="password"
                                    name="password"
                                    required
                                >
                                <label for="floatingInput5">password</label>
                            </div>
                        </tr>
                        <td>
                            <input type="submit" name="subb">
                        </td>
                    </table>
                </fieldset>
            </form>
        </div>
    </body>
</html>
